body {
  background-color: #21252B;
  color: #A9B0BE;
  height: 100%;

  font-family: system, -apple-system, ".SFNSDisplay-Regular", "Helvetica Neue", Helvetica, "Segoe UI", sans-serif;
  font-size: 13px;
  line-height: 1.6;
}

div {
  padding: 10px;
  width: 95%;
  margin: auto;
  margin-bottom: 15px;
  background-color: #282C34;
  border: 1px solid #AAB1BE;
}

button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  margin-left:5px;
  margin-right:5px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: default;
  background-image: none;

  -webkit-app-region: no-drag;
}
button:focus {
  outline: none;
  box-shadow: none;
}

hr {
  width: 95%;
  border: 0;
  border-bottom: 1px solid #4B5263;
}
#app {
  padding: 0px;
  border: 0;
  background: #21252B;
}
#titlebar {
    font-size: 32px;
    text-align: center;
}

#disp_control {


}

#footer {
  font-size: 11px;
  position: fixed;
  bottom: 0px;
  width: 90%;
  line-height: 1.4;
}
